{% extends "layouts/main.html" %}

{% set pageName = "Accessibility statement" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <p>The GOV.UK Design System team at the Government Digital Service (<abbr>GDS</abbr>) maintains the following products:</p>
    <ul>
    <li><a href="https://design-system.service.gov.uk/">GOV.UK Design System website</a></li>
    <li><a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend documentation website</a></li>
    <li><a href="https://github.com/alphagov/govuk-frontend">GOV.UK Frontend codebase</a></li>
    </ul>
    <p>This page explains how the team works to ensure these products are accessible.</p>
    <p>The GOV.UK Prototype Kit website has a separate accessibility statement. <a href="https://prototype-kit.service.gov.uk/docs/accessibility">Read the GOV.UK Prototype Kit website accessibility statement</a>.</p>
    <p><a href="https://design-system.service.gov.uk/community/accessibility-strategy/">Read our accessibility strategy</a> for more information on our current principles and work needed to improve the accessibility of the GOV.UK Design System.</p>
    <p><a href="https://github.com/alphagov/govuk-frontend/blob/main/docs/contributing/test-components-using-accessibility-acceptance-criteria.md">Read about how we test components using accessibility acceptance criteria</a>.</p>
    <h2 class="govuk-heading-m" id="accessibility-statement">Accessibility statement</h2>
    <p>This accessibility statement applies to the GOV.UK Design System website at <a href="https://design-system.service.gov.uk/">design-system.service.gov.uk</a>, the GOV.UK Frontend documentation website at <a href="https://frontend.design-system.service.gov.uk/">frontend.design-system.service.gov.uk</a> and the components and patterns from the GOV.UK Frontend codebase which appear in the examples throughout the Design System.</p>
    <p>The GOV.UK Design System team wants as many people as possible to be able to use this website. For example, you should be able to:</p>

  </div>
</div>

{% endblock %}
